
div#welcome {
    padding-top: 1em;
    /* display: grid; */
    /* justify-items: center; */
    height: 93vh;
}

div#welcome p {
    padding: 1em;
    line-height: 1.6;
    font-size: 1.2em;
    text-align: left;
}

div#welcome h1 {
    padding-left: 1rem;
    margin: 0em;
    font-size: 7rem;
    color: #001011;
    /* color: #073B4C; */;
    color: #073B4C;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3); 
    text-align: left;
}

@media only screen and (max-width: 500px) {
    div#welcome h1 {
        font-size: 4rem;
    }

    div#welcome p {
        font-size: 1em;
    }
}

button.hire-me {
    width: 10em;
    height: 5.4em;
    color: black;
    color: white;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient( #118AB2, #5f0f40  );
    transition: all 0.7s ease-in-out;
    margin: 1em;
    cursor: pointer;
    font-size: 1em;
    font-family: Ubuntu, sans-serif;

}

button.hire-me:hover {
    /* background-color: #FFD166; */
    background-color: #118AB2;
    background-image: linear-gradient(#118AB2, #118AB2);
    transform: translateY(3px);
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    /* color: black;
    color: white; */
    outline: none;
}

div.home-ps {
    padding: 0em 8em 6em 8em;
    display: grid;
    place-items: left;
}

div.end-it {
    display: flex;
    width: fit-content;
    place-self: center;
}

div.home-grid {
    margin-bottom: 0px;
}

.trail {
    width: 20px;
    height: 20px;
    border-radius: 30%;
    border: 1px solid #2a9d8f;
    position: fixed;
    animation: come 1s linear forwards;
    z-index: -1;
}

@keyframes come {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1) translateY(0px) rotate(360deg);
        opacity: 1;
    }
    100% {
        transform: scale(0) translateY(50px);
        opacity: 0;
    }
}

@media only screen and (max-width:760px) {
    div.home-ps {
        padding: 0em 1em 0em 1em;
    }

   button.hire-me {
        margin: 0.25em;
        width: 7em;    
    }

    div.end-it {
        padding: 0em;
        display: flex;
    }

    div#welcome h1 {
        font-size: 4rem;
    }

    div#welcome p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 300px) {
    div#welcome h1 {
        font-size: 3em;
    }

    div#welcome p {
        font-size: 0.8em;
    }

    button.hire-me {
        width: 5em;
    }

    a#scroll {
        padding-top: 0em;
    }

    div.home-ps {
        padding: 0em;
    }
    
    h2 {
        font-size: 1.3em;
    }

    p.margin {
        font-size: 0.7em;
    }

    .middle p{
        font-size: 0.8em;
    }
}

.project-grid {
    width: 100%;
    padding: 1em;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    background-color: #264653;
    background-color: #BD4089;
    background-color: #F7F3E3;
    background-color: #073B4C;
    
}

div.parallax-container {
    background-color: #BD4089;
    background-color: #F7F3E3;
    background-color: #073B4C;
    color: white;
}

.grid-item {
    padding: 0.5em;
    display: flex;
}

img.home-img {
    object-fit: contain;
    width: 100%;
    opacity: 1;
    transition: all 1s ease-in-out;
}

img.home-img:hover {
    transform: scale(1.05);
}

/* @media only screen and (min-width: 760px) {
    img.home-img {
        opacity: 0.3;
    }

    img.home-img:hover {
        opacity: 1;
        transform:scale(1)
    }
} */

div.top:hover + div.top-p {
    opacity: 1;
}

div.top-p, div.middle-p, div.bottom-p {
    opacity: 0;
    display: grid;
    place-content: center;
    padding: 2em;
    line-height: 1.6;
    transition: all 1s ease-in-out;
}

div.mid {
    /* justify-content: flex-end; */
    grid-row: 2/3;
    grid-column: 2/2;
}

div.mid:hover + div.middle-p {
    opacity: 1;
}

div.bottom {
   grid-row: 3/3;   
}

div.bottom:hover + div.bottom-p {
    opacity: 1;
}

.padding {
    padding: 5em;
    text-align: center;
}


@media only screen and (max-width: 760px) {
    div.mid {
        grid-row: 3/4;
        grid-column: 1/2;
        opacity: 1;
    }

    div.mid-p {
        grid-row: 4/5;
    }

    div.bottom {
        grid-row: 5/6;
        grid-column: 1/2;
    }
    div.bottom-p {
        grid-row: 6/7;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    div.mid, div.middle-p, div.top, div.top-p, div.bottom, div.bottom-p, img.home-img {
        opacity: 1;
    }

}

#scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: center;
    opacity: 0.7;
    padding-top: 2em;
    margin-top: 2em;
    color: white;
    text-decoration: none;
    width: fit-content;
    cursor: default;
}

#scroll svg {
    margin-right: 0.1em;
    /* margin-bottom: 1em; */
    animation: chevy-bounce 4s ease infinite; 
    cursor: pointer;
    
}

#scroll p {
    cursor: pointer;
    color: black;
}

@keyframes chevy-bounce {
    0% {transform: translateY(0%)}
    75% {transform:translateY(0%)}
    80% {transform: translateY(-30%)}
    85% {transform: translateY(15%)}
    90% {transform: translateY(-20%)}
    95% {transform: translateY(3%)}
    100% {transform: translateY(-10%)}
    
}

@media only screen and (min-width: 760px) and (max-width: 1200px ) {
    div#welcome h1 {
        font-size: 6em;
    }
    div.home-ps {
        padding: 1em;
    }
}
