nav.side-nav {
    background-color: #F28482;
    background-color: #06d6a0;
    /* background-color: #073B4C; */
    background-color: #118ab2;
    background-color: #EF476F;
    background-color: #5f0f40;
    position: fixed;
    height: 93vh;
    width: 8vw;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.hover-underline {
    display: inline-block;
    position: relative;
  }

nav.side-nav p {
    cursor: pointer;
    margin: 5em 0em;
    color: white;
}
  
@media only screen and (max-width: 600px) {
    nav.side-nav p {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        margin: 1em;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }

    p.hover-underline:after {
        content: '';
        position: absolute;
        width: 2px;
        transform: scaleY(0);
        height: 100%;
        bottom: 0;
        right: 200px;
        background-color: #90e0ef;
        transform-origin: bottom left;
        transform: rotateY('180');
        transition: transform 0.3s ease-out;
        writing-mode: vertical-lr;
      }

    .hover-underline:hover:after {
    transform: scaleY(0.9);
    transform-origin: bottom left;
    }

    nav.side-nav {
        height: 93vh;
        width: 15vw;
    }

    header {
        height: 7vh;
    }
}

.hover-underline:after {
    content: '';
    position: absolute;
    width: 113%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFCC33;
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
    writing-mode: vertical-lr;
  }
  
  .hover-underline:hover:after {
    transform: scaleX(0.9);
    transform-origin: bottom left;
  }

nav.side-nav p:hover {
    font-weight: 600;
}

.nav-active {
    transform: translateY(0%) !important;
}

p#contact > a {
    color: white;
    text-decoration: none;
}

p#contact > a:hover {
    font-weight: 600;
}

@media only screen and (max-width: 1050px) and (min-width: 600px) {
    nav.side-nav {
        width: 10vw;
    }
}

