.project-gallery {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 100vw;
}

@media only screen and (max-width: 760px) {
  .column p {
    padding-bottom: 0px;
  }

  img.image {
    object-position: top;
  }

  div.center-projects {
    margin-top: 1em;
  }

}

/* .column {
  display: flex;
  flex-direction: column;
} */

.project-gallery h2 {
  padding-top: 0px;
}

.project-gallery p {
  padding-bottom: 2em;
}

.center-projects {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  display: flex; 
 justify-content: center;
}

div.dot {
  border-radius: 50%;
  padding: 0.5em;
  margin: 0.15em;
  border: 1px solid white;
  cursor: pointer;
}

.current {
  background: white;
}

.margin {
  margin-left: 1em;
}
