header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    /* background-color: #e9c46a; */
    /* background-color: #FEE440;
    background-color: #00bbf9; */
    /* background-color: #BD4089; */
    background-color: #4cc9f0;;
    position: sticky;
    top: 0;
    height: 7vh;
    width: 100%;
  }
  
  #name-head {
    font-size: 1em;
    transition: all 0.5s ease-in-out;
    animation: strobe 2.5s infinite ease-in-out;
    cursor: pointer;
  }

  @keyframes strobe {
    0% {
      color: #fff;
    }
    50% {
      color: #F28482;
    }

    100% {
      color: #fff;
    }
  }

