header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #4cc9f0;;
    background-color: #073B4C;
    background-color: #5f0f40;
    position: sticky;
    top: 0;
    height: 7vh;
    width: 100%;
  }
  
  #name-head {
    font-size: 1em;
    transition: all 0.5s ease-in-out;
    animation: strobe 2.5s infinite ease-in-out;
    cursor: pointer;
  }

  @keyframes strobe {
    0% {
      color: #fff;
    }
    50% {
      color: #118AB2
    }

    100% {
      color: #fff;
    }
  }

