.icons {
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    width: 20%;
}

@media screen and (max-width: 760px) {
    .icons {
        width: 40%;
    }
}

.icons svg {
    cursor: pointer;
}

#cv {
    color: #F28482;  
    text-decoration: none;
    font-weight: 800;
    font-size: 1.5em;
    padding-bottom: 0.1em;}

#cv:hover {
    color: #F7F3E3;
    transform: scale(1.2)
}

.icons svg {
    fill: #F28482; 
   
}

.icons svg:hover {
    fill: #F7F3E3;
}
